<perfect-scrollbar>
    <app-spinner forceTo='component-sized' *ngIf="loading"></app-spinner>
    <div class="container-fluid"*ngIf="!loading">
        <div class="row header">
            <div class="col-6 col-md-9 col-lg-10 titulo">
                <h1>Películas</h1>
            </div>
            <div class="col-6 col-md-3 col-lg-2 boton-container" *ngIf="rol">
                <button mat-raised-button color="primary" (click)="addMovie()">Añadir película</button>
            </div>
        </div>
        <div class="row body">
            <app-movie-card class="col-12 col-md-6 col-lg-3" *ngFor="let movie of movies" [movie]="movie"></app-movie-card>
        </div>
        <div class="row footer"></div>
    </div>
</perfect-scrollbar>