<app-spinner forceTo='component-sized' *ngIf="loading"></app-spinner>
<div class="wrapper dialog" *ngIf="!loading">
    <div class="header">
        <h1 *ngIf="data.tipo == 'movie'">Crear película</h1>
        <h1 *ngIf="data.tipo == 'serie'">Crear serie</h1>
    </div>

    <div class="container-fluid">
      <div class="row">
        <h3 *ngIf="data.tipo == 'movie'">Datos de la película</h3>
        <h3 *ngIf="data.tipo == 'serie'">Datos de la serie</h3>
        <hr>
      </div>
      <div class="row">
          <swiper [slidesPerView]="1" [spaceBetween]="0" [navigation]="true" [centeredSlides]="true">
            
            <ng-template swiperSlide *ngIf="data.tipo == 'movie'"><div class="datos-principales">
              <h4>Datos principales</h4>
              <perfect-scrollbar>
                
                <form [formGroup]="dataForm" id="data-form" autocomplete="off" novalidate class="datos-form">
        
                    <div class="linea">
                      <mat-form-field class="form-input">
                        <input class="campoForm" matInput type="text" placeholder="Título de la película" formControlName="title">
                      </mat-form-field>
                    </div>
                    <div class="linea">
                      <mat-form-field class="form-input2">
                        <input matInput type="text" placeholder="Descripción" formControlName="description">
                      </mat-form-field>
                    </div>
                    <div class="linea">
                        <mat-form-field class="form-input2">
                          <input matInput type="text" placeholder="Año de estreno" formControlName="year">
                        </mat-form-field>
                      </div>
                    <div class="linea">
                    <mat-form-field class="form-input2">
                        <input matInput type="text" placeholder="Duración" formControlName="duration">
                    </mat-form-field>
                    </div>
            
                </form>
                    
                </perfect-scrollbar>
            </div></ng-template>
            <ng-template swiperSlide *ngIf="data.tipo == 'serie'"><div class="datos-principales">
              <h4>Datos principales</h4>
              <perfect-scrollbar>

                <form [formGroup]="dataForm" id="data-form" autocomplete="off" novalidate class="datos-form">
                    <div class="linea">
                      <mat-form-field class="form-input">
                        <input class="campoForm" matInput type="text" placeholder="Título de la serie" formControlName="title">
                      </mat-form-field>
                    </div>
                    <div class="linea">
                      <mat-form-field class="form-input2">
                        <input matInput type="text" placeholder="Descripción" formControlName="description">
                      </mat-form-field>
                    </div>
                    <div class="linea">
                        <mat-form-field class="form-input2">
                          <input matInput type="text" placeholder="Año de estreno" formControlName="yearStart">
                        </mat-form-field>
                      </div>
                    <div class="linea">
                    <mat-form-field class="form-input2">
                        <input matInput type="text" placeholder="Año de finalización" formControlName="yearEnd">
                    </mat-form-field>
                    </div>
                    <div class="linea">
                      <mat-form-field class="form-input2">
                          <input matInput type="text" placeholder="Temporadas" formControlName="seasons">
                      </mat-form-field>
                    </div>
            
                </form>
                    
                </perfect-scrollbar>
            </div></ng-template>

            <ng-template swiperSlide *ngIf="data.tipo == 'movie'">
              <div class="datos-cast">
                <h4>Participantes</h4>
                
                <form [formGroup]="actForm" id="data-form" autocomplete="off" novalidate class="datos-form">
        
                  <div class="row actores">
                    <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-8">
                      <mat-label *ngIf="data.action != 'editar'">Escoge el director</mat-label>
                      <mat-label *ngIf="data.action == 'editar'">{{data.pelicula.director.name}}</mat-label>
                      <mat-select [formControl]="director">
                        <mat-option value="{{persona.id}}" *ngFor="let persona of personas">{{persona.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="col-12 col-md-6 col-lg-4 nuevo-actor">
                      <span>¿No aparece? ¡Créalo!</span>
                      <button mat-raised-button color="primary">Crear director</button>
                    </div>
                  </div>

                  <div class="row">
                    <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-8">
                      <mat-label>Escoge los actores</mat-label>
                      <mat-select [formControl]="cast" multiple [(ngModel)]="selectedCast" (ngModelChange)="cambio($event)">
                        <mat-option [value]="persona.id" *ngFor="let persona of personas">{{persona.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="col-12 col-md-6 col-lg-4 nuevo-actor">
                      <span>¿No aparece? ¡Créalo!</span>
                      <button mat-raised-button color="primary">Crear actor</button>
                    </div>
                  </div>
          
                </form>

              </div>
            </ng-template>
            <ng-template swiperSlide *ngIf="data.tipo == 'serie'">
              <div class="datos-cast">
                <h4>Participantes</h4>
                
                <form [formGroup]="actForm" id="data-form" autocomplete="off" novalidate class="datos-form">
        
                  <div class="row">
                    <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-8">
                      <mat-label>Escoge los creadores</mat-label>
                      <mat-select [formControl]="creators" multiple [(ngModel)]="selectedCreators" (ngModelChange)="cambio($event)">
                        <mat-option [value]="persona.id" *ngFor="let persona of personas">{{persona.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="col-12 col-md-6 col-lg-4 nuevo-actor">
                      <span>¿No aparece? ¡Créalo!</span>
                      <button mat-raised-button color="primary">Crear actor</button>
                    </div>
                  </div>

                  <div class="row">
                    <mat-form-field appearance="fill" class="col-12 col-md-6 col-lg-8">
                      <mat-label>Escoge los actores</mat-label>
                      <mat-select [formControl]="cast" multiple [(ngModel)]="selectedCast" (ngModelChange)="cambio($event)">
                        <mat-option [value]="persona.id" *ngFor="let persona of personas">{{persona.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="col-12 col-md-6 col-lg-4 nuevo-actor">
                      <span>¿No aparece? ¡Créalo!</span>
                      <button mat-raised-button color="primary">Crear actor</button>
                    </div>
                  </div>
          
                </form>

              </div>
            </ng-template>

            <ng-template swiperSlide *ngIf="data.action != 'editar'"><div class="datos-extra">
                <h4>Imágen y enlaces</h4>
                
                <form [formGroup]="extraForm" id="data-form" autocomplete="off" novalidate class="datos-form">
        
                  <div class="linea">
                    <mat-form-field class="form-input">
                      <input matInput type="text" placeholder="Escribe un enlace al contenido" formControlName="url">
                    </mat-form-field>
                  </div>

                  <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload style="display: none;">
                  <div class="file-upload">
                    {{fileName || "Selecciona una imagen para la película."}}
                      <button mat-mini-fab color="primary" class="upload-btn"
                        (click)="fileUpload.click()">
                          <mat-icon>attach_file</mat-icon>
                      </button>
                  </div>

                  <div *ngIf="currentFile" class="progress my-3">
                    <div
                      class="progress-bar progress-bar-info progress-bar-striped"
                      role="progressbar"
                      attr.aria-valuenow="{{ progress }}"
                      aria-valuemin="0"
                      aria-valuemax="100"
                      [ngStyle]="{ width: progress + '%' }"
                    >
                      {{ progress }}%
                    </div>
                  </div>
                  
                  <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
                  
              </form>
            </div></ng-template>                    

        </swiper>
      </div>

    </div>

    <div class="footer">

        <div class="row">
            <button mat-raised-button color="primary" class="col-10 col-md-5 col-lg-5 mb-1" type="submit" (click)="guardarForm()" [disabled]="!buttonOK" *ngIf="data.action == 'crear' && data.tipo == 'movie'">Añadir película</button>
            <button mat-raised-button color="primary" class="col-10 col-md-5 col-lg-5 mb-1" type="submit" (click)="guardarForm()" [disabled]="!buttonOK" *ngIf="data.action == 'editar' && data.tipo == 'movie'">Editar película</button>
            <button mat-raised-button color="primary" class="col-10 col-md-5 col-lg-5 mb-1" type="submit" (click)="guardarForm()" [disabled]="!buttonOK" *ngIf="data.action == 'crear' && data.tipo == 'serie'">Añadir serie</button>
            <button mat-raised-button color="primary" class="col-10 col-md-5 col-lg-5 mb-1" type="submit" (click)="guardarForm()" [disabled]="!buttonOK" *ngIf="data.action == 'editar' && data.tipo == 'serie'">Editar serie</button>
            <button mat-dialog-close mat-raised-button color="warn" class="col-10 col-md-5 col-lg-5 mb-1" type="submit" (click)="cancelar()">Cancelar</button>
        </div>
    </div>
</div>
