<div class="home-wrapper">
    <!--<app-header></app-header>-->
    <app-menu></app-menu>
    <div class="home-body">
        <div class="col-9 home-content">
            <div class="novedades-catalogo">
                <div class="peliculas-nuevas">
                    <h1>Nuevas peliculas</h1>
                </div>
                <div class="series-nuevas">
                    <h1>Nuevas series</h1>
                </div>
            </div>
        </div>
        <div class="col-3 barra">
            <app-barra-lateral></app-barra-lateral>
        </div>
    </div>
    <app-footer></app-footer>
</div>