<perfect-scrollbar>
  <div class="wrapper-footer">
      <div class="row mx-0">
          <div class="col-6 col-md-3 col-lg-2">
              <span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
          </div>
          <div class="col-6 col-md-3 col-lg-2">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
          </div>
          <div class="col-6 col-md-3 col-lg-2">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
          </div>                              
      </div>
  </div>
</perfect-scrollbar>