.barra-menu{
    font-family: 'Oswald', sans-serif !important;
    font-weight: 400;
    font-weight: bold;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    align-items: center;
    justify-content: center;
    background-color: #9395d3 !important;
}
