<nav class="navbar navbar-expand-lg navbar-light bg-light barra-menu">
    <a class="navbar-brand" href="#">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['peliculas']">Películas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['series']">Series</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['destacados']">Recomendaciones</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['trailers']">Trailers</a>
        </li>
      </ul>
      <div class="boton-inicio-sesion">
        <mat-icon *ngIf="userLogged">person</mat-icon>
        <button mat-raised-button (click)="action()">{{userLoggedName}}</button>
      </div>
    </div>
</nav>