.barra-lateral-wrapper{
    background-color: #093467;

    .container-destacados, .container-trailers{
        border: 3px solid black;
        padding: 20px;
        padding-top: 10px !important;
        background-color: #9395d3;
    }

    .container-destacados{
        border-bottom: 0px solid black;   
        mat-card{
            background-color: #9395d3;
            border: 1px solid black;
            margin-bottom: 10px;
        }                                                                  
    }

    .container-trailers{
        mat-card{
            background-color: #9395d3;
            border: 1px solid black;
            margin-bottom: 10px;
        }  
    }

}