<div class="barra-lateral-wrapper">
    <div class="container-destacados">
        <h1>Destacados</h1>
        <perfect-scrollbar>
            <app-destacado-card [destacado]="destacado" *ngFor="let destacado of destacados"></app-destacado-card>
        </perfect-scrollbar>
    </div>
    <div class="container-trailers">
        <h1>Trailers</h1>
        <perfect-scrollbar>
            <app-trailers-card [trailer]="trailer" *ngFor="let trailer of trailers"></app-trailers-card>
        </perfect-scrollbar>
    </div>
</div>

