<div class="barra-lateral-wrapper">
    <div class="container-destacados">
        <h1>Destacados</h1>
        <perfect-scrollbar>
            <div *ngFor="let destacado of destacados" class="item-destacado">
                <mat-card (click)="viewElement(destacado)">
                    <img mat-card-image [src]="baseURL + destacado.imgURL">
                    <mat-card-title>{{destacado.title}}</mat-card-title>    
                </mat-card>
            </div>
        </perfect-scrollbar>
    </div>
    <div class="container-trailers">
        <h1>Trailers</h1>
        <perfect-scrollbar>
            <app-trailers-card [trailer]="trailer" *ngFor="let trailer of trailers"></app-trailers-card>
        </perfect-scrollbar>
    </div>
</div>

